* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/assets/bac.png");
  /* width: fit-content; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: darken;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-left: 585px;
  margin-right: 545px;
  cursor: pointer;
}
.list-item {
  list-style: none;
  color: #e8bd0d;
}
.button-small {
  float: right;
  margin-right: 150px;
  margin-top: -30px;
  padding: 8px 24px;
  color: white;
  font-weight: bold;
  background: #ff4331;
  border: none;
  cursor: pointer;
}
.logo {
  height: 40px;
  margin-left: 55px;
  margin-top: 25px;
  margin-bottom: -35px;
}
.hero-heading {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  text-align: center;
  font-size: 105px;
  line-height: 110px;
  color: #e8bd0d;
}
.button-large {
  float: right;
  align-items: center;
  /* margin-left: 55px; */
  margin-right: 646px;
  padding: 13px 43px;
  margin-top: 20px;
  color: white;
  background: #ff4331;
  border: none;
  cursor: pointer;
}
.bottom1 {
  float: right;
  margin-right: -700px;
  height: 120px;
  margin-top: 60px;
}
